.super-offers {
    background: #EEE;
    padding: 2rem;
    border-radius: 2rem;
}

.super-offers > h3 {
    font-style: italic;
    font-size: 2rem;
}

.logo-detail {
    color: var(--third-color);
}

.super-offers > p {
    margin-bottom: 1rem;
}